---
title: Mikhail Delport | Developer, Designing, Digital maker
---

<div class="welcome">
  <div class="name">
    <h1>Mikhail Delport</h1>
    <div class="description">
      Developer | Designer
    </div>
  </div>

  <div class="callToAction">
    Let's create something your users will love
  </div>

  <div class="contactButton">
    <button class="button">
      <a href="mailto:info@delport.ca?body=Let%27s%20make%20something%20awesome%20together!%0A%0A">Get in touch</a>
    </button>
  </div>
</div>
